body {
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}

/* Estilo general del scrollbar */
body::-webkit-scrollbar {
  width: 10px; /* Ancho del scrollbar */
  background-color: #f0f0f0; /* Fondo del scrollbar */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilo del "thumb" (control deslizante) */
body::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* Color plomizo o plateado */
  border-radius: 5px; /* Bordes redondeados */
  border: 2px solid #f0f0f0; /* Espaciado alrededor */
}

/* Estilo del thumb cuando está en hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* Un poco más oscuro al pasar el mouse */
}

/* Estilo del thumb cuando está activo */
body::-webkit-scrollbar-thumb:active {
  background-color: #909090; /* Más oscuro cuando se arrastra */
}

/* Contenedor principal */
.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* Ajustar según el header */
  background-color: #f7f9fc;
}

/* Tarjeta */
.upload-card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  text-align: center;
  width: 400px;
}

.upload-card h2 {
  font-size: 24px;
  color: #0b512a;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.upload-card p {
  font-size: 16px;
  color: #555555;
  margin-bottom: 20px;
}

/* Input de archivo */
.file-input {
  margin: 15px 0;
  padding: 10px;
  font-size: 16px;
  border: 2px dashed #02559e;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  background-color: #f7f9fc;
  color: #555555;
  outline: none;
  cursor: pointer;
}

/* Botón de subir */
.upload-button {
  background: #09582d;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.upload-button:hover {
  background: #022e16;
  transform: translateY(-2px);
}

/* loading */
.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.loading img {
  width: 60px;
  height: 60px;
}

/* Modelo de graficos */
.resp-contenedor {
  padding: 20px;
  display: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
}

.item-respuesta {
  width: 400px;
  height: 300px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #d0d0d0;
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.titulo-respuesta {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7f029e;
  color: #fff;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 5px;
}

.grafico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  position: relative;
}

.grafico > div {
  flex: 1;
  border-top: 1px solid #d0d0d0;
  width: 100%;
  height: 33px;
  position: relative;
  color: #909090;
}

.grafico > div > div:nth-child(1) {
  position: absolute;
  font-size: 10px;
  left: -10px;
  top: 5px;
}

.grafico > div > div:nth-child(2) {
  position: absolute;
  font-size: 10px;
  left: -10px;
  bottom: 0px;
}

.graf-respuestas {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 45px;
  width: 400px;
  height: 250px;
}

.graf-respuestas > div {
  width: 73px;
  background-color: #292da1;
  margin-left: 5px;
  margin-right: 5px;
  align-self: flex-end;
  text-align: center;
  color: #fff;
  position: relative;
}

.graf-respuestas > div > div {
  position: absolute;
  top: -20px;
  color: #292da1;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
